In [1]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

In [2]:
employee = Table(
   'employee', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('department', String),
   Column('basicsalary', Integer),
   Column('DA',Integer),
   Column('HRA',Integer)
)

In [3]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///organization.db', echo = True)
meta = MetaData()

employee = Table(
   'employee', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('department', String),
   Column('basicsalary', Integer),
   Column('DA',Integer),
   Column('HRA',Integer)
)
meta.create_all(engine)

2022-01-17 00:40:32,478 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-01-17 00:40:32,482 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("employee")
2022-01-17 00:40:32,484 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-17 00:40:32,487 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("employee")
2022-01-17 00:40:32,488 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-17 00:40:32,492 INFO sqlalchemy.engine.Engine
CREATE TABLE employee (
	id INTEGER NOT NULL,
	name VARCHAR,
	department VARCHAR,
	basicsalary INTEGER,
	"DA" INTEGER,
	"HRA" INTEGER,
	PRIMARY KEY (id)
)


2022-01-17 00:40:32,493 INFO sqlalchemy.engine.Engine [no key 0.00144s] ()
2022-01-17 00:40:32,502 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
ins = employee.insert()
ins = employee.insert().values(id = 101, name = 'prudhvi', department = 'sales',basicsalary = 15000, DA = 5000, HRA = 4000)
conn = engine.connect()
result = conn.execute(ins)

2022-01-17 00:40:45,673 INFO sqlalchemy.engine.Engine INSERT INTO employee (id, name, department, basicsalary, "DA", "HRA") VALUES (?, ?, ?, ?, ?, ?)
2022-01-17 00:40:45,675 INFO sqlalchemy.engine.Engine [generated in 0.00231s] (101, 'prudhvi', 'sales', 15000, 5000, 4000)
2022-01-17 00:40:45,680 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
conn.execute(employee.insert(), [
   {'id' : 102, 'name' : 'Vishnu', 'department' : 'sales', 'basicsalary' : 15000, 'DA' : 5000, 'HRA' : 4000},
   {'id' : 103, 'name' : 'Vardhan', 'department': 'development','basicsalary' : 45000, 'DA' : '5000', 'HRA' : 4000},
   {'id' : 105, 'name' : 'Valli', 'department' : 'HR','basicsalary' : 35000, 'DA' : 5000, 'HRA' : 8000},
])

2022-01-17 00:41:01,194 INFO sqlalchemy.engine.Engine INSERT INTO employee (id, name, department, basicsalary, "DA", "HRA") VALUES (?, ?, ?, ?, ?, ?)
2022-01-17 00:41:01,195 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ((102, 'Vishnu', 'sales', 15000, 5000, 4000), (103, 'Vardhan', 'development', 45000, '5000', 4000), (105, 'Valli', 'HR', 35000, 5000, 8000))
2022-01-17 00:41:01,202 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
e = employee.select()
conn.execute(e).fetchall()

2022-01-17 00:41:16,536 INFO sqlalchemy.engine.Engine SELECT employee.id, employee.name, employee.department, employee.basicsalary, employee."DA", employee."HRA"
FROM employee
2022-01-17 00:41:16,539 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()

[(101, 'prudhvi', 'sales', 15000, 5000, 4000),
 (102, 'Vishnu', 'sales', 15000, 5000, 4000),
 (103, 'Vardhan', 'development', 45000, 5000, 4000),
 (105, 'Valli', 'HR', 35000, 5000, 8000)]

In [7]:
stmt=employee.update().where(employee.c.name=='Vardhan').values(name = 'Dr.Vardhan')
conn.execute(stmt)
e = employee.select()
conn.execute(e).fetchall()

2022-01-17 00:41:53,399 INFO sqlalchemy.engine.Engine UPDATE employee SET name=? WHERE employee.name = ?
2022-01-17 00:41:53,401 INFO sqlalchemy.engine.Engine [generated in 0.00239s] ('Dr.Vardhan', 'Vardhan')
2022-01-17 00:41:53,405 INFO sqlalchemy.engine.Engine COMMIT
2022-01-17 00:41:53,412 INFO sqlalchemy.engine.Engine SELECT employee.id, employee.name, employee.department, employee.basicsalary, employee."DA", employee."HRA"
FROM employee
2022-01-17 00:41:53,413 INFO sqlalchemy.engine.Engine [cached since 36.88s ago] ()

[(101, 'prudhvi', 'sales', 15000, 5000, 4000),
 (102, 'Vishnu', 'sales', 15000, 5000, 4000),
 (103, 'Dr.Vardhan', 'development', 45000, 5000, 4000),
 (105, 'Valli', 'HR', 35000, 5000, 8000)]

In [8]:
e = employee.select().where(employee.c.id < 103)
result = conn.execute(e)
for row in result:
   print (row)

2022-01-17 00:42:13,651 INFO sqlalchemy.engine.Engine SELECT employee.id, employee.name, employee.department, employee.basicsalary, employee."DA", employee."HRA"
FROM employee
WHERE employee.id < ?
2022-01-17 00:42:13,657 INFO sqlalchemy.engine.Engine [generated in 0.00538s] (103,)
(101, 'prudhvi', 'sales', 15000, 5000, 4000)
(102, 'Vishnu', 'sales', 15000, 5000, 4000)